#search {
  padding: 20px;
  color: #ffffff;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  transition: height 0.6s ease;
}

.searchbar.active {
  height: 10vh;
  transition: height 0.6s ease;
}

.content-items {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.searchbar-button {
  margin: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-indicator {
  padding: 8px 0;
  margin: 0 15px;
}

@media (max-width: 684px) {
  .content-items {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .searchbar-textfield {
    width: 500px !important;
  }
}

@media (min-width: 769px) {
  .searchbar-textfield {
    width: 700px !important;
  }
}
